# Canonical Name <canonical@email>  old-name <old@email>
Maxy-Zou <maxzou0325@gmail.com>  Disrespeqctful <disrespeqctful@users.noreply.github.com>
Maxy-Zou <maxzou0325@gmail.com>  Max <25zoux@weston.org>
Maxy-Zou <maxzou0325@gmail.com>  83913537+Maxy-Zou@users.noreply.github.com
# Canonical identity
Maxy-Zou <maxzou0325@gmail.com>

# Map old identities to canonical (exact 'pq' spelling)
Maxy-Zou <maxzou0325@gmail.com>  Disrespqctful
Maxy-Zou <maxzou0325@gmail.com>  Disrespqctful <disrespqctful@users.noreply.github.com>

# Keep previous ones too (if present)
Maxy-Zou <maxzou0325@gmail.com>  Max <25zoux@weston.org>
Maxy-Zou <maxzou0325@gmail.com>  83913537+Maxy-Zou@users.noreply.github.com
